/* reset */
html{
    scroll-behavior: smooth;
    box-sizing: border-box;
}
body{
  width:100%;
  padding:0;
  margin:0;
  font-family: var(--font);
  overflow-x: hidden;
}
body::before{
  content: '';
  display:block;
  width: 100%;
  height:68.5px;
}
*,::before,::after{
    box-sizing:border-box;
}
p{
  line-height:1.8;
}
ul,li{
  margin: 0;
  padding: 0;
  list-style: none;
}
a{
  text-decoration:none;
  color:var(--color-text-ligt);
}



/* navbar */
.navbar{
  position: fixed;
  top:0;
  left:0;
  width:100%;
  height:70px;
  background-color: var(--color-secondary);
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.5);
  z-index: 10000;
}
.navbar .box{
  justify-content:space-between;
}
.navbar .nav-icon{
  position:relative;
}
.navbar .nav-icon .icon{
  cursor: pointer;
}
.navbar .nav-icon .icon span{
  display: none;
  width:35px;
  height:1.5px;
  margin:0.20rem;
  background-color: var(--color-primary);
}

.links-menu .link a{
  position:relative;
  display:block;
  text-transform:capitalize;
  font-weight:300;
  text-align:center;
  padding:0.5rem;
  margin: 1rem;
}
.links-menu .link a::before{
  content:'';
  display: block;
  position:absolute;
  background-color: var(--color-primary);
  width:100%;
  transform: scale(0);
  transform-origin:center;
  height:1px;
  bottom:0;
  left:0;
  transition: all 0.25s ease-in-out;
  box-shadow: 0 0 10px #ffe60070 ;
}
.links-menu .link a:hover::before{
  transform:scale(1);
}

 /* extra small to small screen devices max width 768px */
@media all and (max-width:768px){
  .navbar .nav-icon:hover .icon .links-menu{
    visibility: visible;
    opacity: 1;
  }
  .navbar .nav-icon .icon span{
    display: block;
  }
  .navbar .nav-icon .icon .links-menu{
    visibility: hidden;
    opacity: 0;
    background-color:var(--color-secondary);
    width:150px;
    height:auto;
    border-radius:0.5rem 0 0.5rem 0.5rem;
    flex-flow:column wrap;
    position:absolute;
    top:calc(100% + 45px);
    right:10%;
    z-index:1000;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.7);
    transition: all 0.35s ease-in;
  }
  .navbar .nav-icon .icon .links-menu::before{
    content:'';
    position:absolute;
    background-color: transparent;
    top:-30px;
    right:0;
    border-width:15px  ;
    border-style: solid;
    border-color: transparent transparent var(--color-secondary) transparent;
  }
}



/* intro */
.intro{
  position:relative;
  height:calc(80vh - 70px);
  background:url(images/hero.jpg) center fixed no-repeat ;
  object-fit:cover;
}
.intro .layer{
  position: absolute;
  top:0;
  left:0;
  width:100%;
  height:100%;
  background:rgba(0,0,0,0.65);
  z-index:1;
}
.intro .section-text{
  color:var(--color-text-ligt);
  text-align:center;
  position:relative;
  top:-3rem;
  z-index:2;
}
.intro .spacing{
  padding: 0 1rem;
  letter-spacing:10px;
}
.intro h1{
  margin-bottom:3rem;
  font-size:1.75rem;
  text-transform:uppercase;
  font-weight:500;
}
.intro h3{
  margin-bottom:8rem;
  letter-spacing:8px !important;
  font-size:0.8rem;
  font-weight:400;
}
/* global special link effect */
.yellow{
  position:relative;
  text-transform: uppercase;
  letter-spacing:3px;
  font-size:0.75rem;
  color:var(--color-text-dark);
  padding:1rem 2rem;
  background-color:var(--color-primary);
}
.yellow::before{
  content:'';
  position:absolute;
  left:0;
  top:0;
  width:0%;
  height:100%;
  background-color:var(--color-secondary);
  transition: all 0.5s ease-out;
}
.yellow span{
  display: inline-block;
  position: relative;
  z-index: 2;
  transition: all 0.5s ease-out;
}
.yellow span::before{
  content:'';
  position:absolute;
  background-color: transparent;
  opacity: 0;
  top:2.5px;
  right:100%;
  transform: translateX(-10px);
  border-width:5px  ;
  border-style: solid;
  border-color: transparent transparent  transparent var(--color-text-ligt);
  transition: all 0.5s ease-out;
}
.yellow:hover::before{
  width:100%;
}
.yellow:hover span{
  color: var(--color-text-ligt);
  transform:translateX(10px);
}
.yellow:hover span::before{
  transform: translateX(-5px);
  opacity: 1;
}


/* about us */
.about-us{
  padding:var(--padding-sections) ;
  text-align: center;
}
.about-us p{
  width:50vw;
  margin:0 auto;
  margin-top:5rem;
}
/* global sections icons */
.section-icon{
  display: block;
  width:100px;
  margin:0 auto 1.5rem auto;
}


/* sevices */
.services{
  padding:var(--padding-sections);
  padding-bottom:0 ;
  background-color:var(--color-bg-dark);
}
/* glabal sections heading */
.section-text .section-heading{
  position:relative;
  color:var(--color-text-dark);
  font-size:2rem;
  letter-spacing:12px;
  text-align:center;
  text-transform:uppercase;
  font-weight:500;
  text-shadow: 2.5px 2.5px 0px #ebd727,
               5px 5px 1px #c7b835 ;
}
/* global section info */
.section-info{
  width:60vw;
  text-align:center;
  margin:3rem auto 6rem auto;
}
.services .services-cards .card{
  padding: 4rem 2rem;
  background-color:var(--color-bg-light);
  display:flex;
  flex-flow:column wrap;
  justify-content: center;
  align-items:center;
  text-align: center;
  box-shadow:  1px 5px 20px rgba(0,0,0,0.1) ;
}
.services .services-cards .card .bottom{
  text-align: left;
  font-weight:500;
  width:100%;
  border-top: 1px solid #ccc;
}
/* services progress bars */
.card .bottom .progress-bar .bar{
  position:relative;
  width:100% !important;
  height:8px;
  background-color:var(--color-bg-dark);
  border-radius:2rem;
  overflow: hidden;
}
.card .bottom .progress-bar .bar::before{
  content:'';
  width:100%;
  height:100%;
  background-color: var(--color-primary);
  position:absolute;
  top:0;
  left:0;
}
/* graphic design */
.card.one .progress-bar.one .bar::before{
  width:80%;
}
.card.one .progress-bar.two .bar::before{
  width:100%;
}
.card.one .progress-bar.three .bar::before{
  width:75%;
}
/* web design */
.card.two .progress-bar.one .bar::before{
  width:90%;
}
.card.two .progress-bar.two .bar::before{
  width:80%;
}
.card.two .progress-bar.three .bar::before{
  width:100%;
}
/* web development */
.card.three .progress-bar.one .bar::before{
  width:100%;
}
.card.three .progress-bar.two .bar::before{
  width:95%;
}
.card.three .progress-bar.three .bar::before{
  width:70%;
}
/* app development */
.card.four .progress-bar.one .bar::before{
  width:65%;
}
.card.four .progress-bar.two .bar::before{
  width:80%;
}
.card.four .progress-bar.three .bar::before{
  width:55%;
}

.services .counter{
  margin-top:2rem;
  padding:3rem;
  background-color:var(--color-secondary);
  flex-wrap:wrap;
  gap:1rem;
}
.services .counter .box{
  flex: 1 1 250px;
  padding: 1rem 1.5rem;
  text-align:center;
  background-color: var(--color-bg-light);
}
.services .counter .box h2,
.services .counter .box h3{
  margin: 0;
}
.services .counter .box .gray{
  margin-top:0.5rem;
  text-transform:uppercase ;
  letter-spacing: 2px;
  color:var(--color-text-gray);
  font-size:1.125rem;
}


/* portfolio */
.portfolio{
  padding:var(--padding-sections) ;
  padding-bottom:3rem;
}
.portfolio .portfolio-show .portfolio-text{
  margin:10rem 0;
  text-transform:uppercase;
  text-align:center;
  font-size:1rem;
}
.portfolio-text h2{
  cursor:pointer;
  font-weight:300;
  margin:1rem 2rem;
}

/* small screen devices max width 768px */
@media all and (max-width:768px){
  .portfolio .portfolio-show .portfolio-text{
    flex-flow:column wrap !important;
  }
  .portfolio-text .one{
    order:2;
  }
  .portfolio-text .two{
    order:3;
  }
  .portfolio-text .three{
    order:1;
    margin-bottom:1rem;
    border-bottom:3px solid #ccc;
    padding-bottom:1rem
  }
  .portfolio-text .four{
    order:4;
  }
  .portfolio-text .five{
    order:5;
  }
}

.portfolio .portfolio-gallery{
  gap:0;
}
.portfolio .portfolio-gallery .pic{
  position:relative;
  text-align:center;
}
.portfolio .portfolio-gallery .pic:hover .yellow-layer,
.portfolio .portfolio-gallery .pic:hover .info {
  opacity:1;
}
.portfolio .portfolio-gallery .pic img{
  width:100%;
  height:auto;
}
.portfolio-gallery .pic .yellow-layer{
  width:75%;
  height:90%;
  background-color:#ffe600a8;
  opacity:0;
  position:absolute;
  top:50%;
  left:50%;
  transform: translate(-50%,-50%);
  z-index:1;
  transition: all 0.25s ease-in-out;
}

.portfolio-gallery .pic .info{
  width:90%;
  padding:0.25rem;
  background-color: #ffffffd5;
  opacity:0;
  position:absolute;
  top:50%;
  left:50%;
  transform: translate(-50%,-50%);
  z-index:2;
  transition: all 0.25s ease-in-out;
}
.portfolio .yellow{
  margin-top:3rem;
}


/* video section */
.video{
  width:100%;
  height:40vh;
}
.video .video-clip{
  width:100%;
  height:100%;
  position:relative;
}
.video .video-clip .video-layer{
  width:100%;
  height:100%;
  background-color: rgba(0,0,0,0.6);
  position:absolute;
  top:0;
  left:0;
  z-index:5;
}
.video .video-clip video{
  width:100%;
  height:100%;
  object-fit: cover;
  filter:grayscale();
  z-index:3;
}
/* video section link */
.video .yellow{
  background-color:transparent;
  padding: 2rem 3rem;
  color:var(--color-primary);
  border:1px solid var(--color-primary);
  font-weight:800;
  position:absolute;
  top:50%;
  left:50%;
  transform:translate(-50% , -50%);
  z-index:10;
}
.video .yellow:hover span{
  color:var(--color-text-dark);
}
.video .yellow::before{
  background-color: var(--color-primary);
}
.video .yellow:hover span::before{
  border-color:transparent transparent transparent var(--color-text-dark);
}


/* team */
.team{
  padding:var(--padding-sections);
}

.team .team-members{
  flex-wrap:wrap;
  gap:2rem;
}
.team .team-members .box {
  text-align:center;
  flex:0 1 250px ;
  box-shadow:0 2.5px 20px rgba(0,0,0,0.3);
  transition:all 0.25s ease-in-out;
}
.team .team-members .box:hover{
  transform:translateY(-10px);
}
.team .team-members .box .team-text{
  position:relative;
  padding:1rem;
  text-transform:capitalize;
}
.team-members .box .team-text h2{
  width:100%;
  margin:0;
  padding:1rem 2rem;
  font-weight:400;
  background-color:#ffe600cb;
  position:absolute;
  top:-68px;
  left:0;
}


/* company vision */
.vision{
  width:100%;
}
.vision .vision-line{
  position:relative;
  height:250px !important;
}
.vision .vision-line p{
  width:40vw;
  text-align:center;
}
.vision-line .bottom-left span{
  text-align: left;
}
.vision-line .top-right span{
  text-align: right;
}
.vision .vision-line p .bold-i{
  display:block;
  margin-top:1.5rem;
  font-weight:500;
  text-transform:capitalize;
  font-style:italic;
}

/* line one */
.vision .vision-line.one .top-left{
  position:relative;
  top:50%;
  width:550px;
  height:450px;
  margin:2rem;
  padding: 3rem;
  background-color:var(--color-secondary);
  color:var(--color-text-gray);
  text-align:left;
  z-index:5;
}
/* line two */
.vision .vision-line.two{
  background-color:var(--color-primary);
}

/* line three */
.vision-line.three .container{
  height:100%;
}
.vision .vision-line.three .bottom-right{
  position:relative;
  bottom:50%;
  width:550px;
  height:450px;
  margin:2rem;
  margin:2rem;
}

