/* preset */
:root{
    /* font */
    --font:'Roboto',Roboto-Regular,Arial;

    /* colors */
    --color-primary:#FFE600;
    --color-secondary:#1B1B1B;
    --color-bg-light:#FFFFFF;
    --color-bg-dark:#F5F5F5;
    --color-text-ligt:#FBFBFB;
    --color-text-dark:#1B1B1B;
    --color-text-gray:#B0B0B0;

    /* padding */
    --padding:2rem;
    --padding-sections:5rem 0 0 0;
}

/* flex */

.flex-row-jc-ac{
    display:flex;
    flex-flow: row;
    justify-content: center;
    align-items: center;
  }
  .flex-col-jc-ac{
    display:flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
  }
  
  
  /* grid */
  .grid{
    display:grid;
    gap:2em;
    grid-template-columns: repeat(auto-fit, minmax(200px , 1fr));
  }
  
  
  /* container */
  .container{ 
    width:100%;
    padding-right: var(--padding);
    padding-left: var(--padding);
    margin-right: auto;
    margin-left: auto;
  }
  
  /* extra small screen */
  @media all and (min-width:576px){
    .container{
      width:540px;
    }
  }
  
  /* small screen */
  @media all and (min-width:768px){
  
    .container{
      width:750px;
    }
  }
  
  /* medium*/
  @media all and (min-width:992px){
  
    .container{
      width:970px;
    }
  }
  
  /* large */
  @media all and (min-width:1200px){
  
    .container{
      width:1170px;
    }
  }
    
  /* extra large */
  @media all and (min-width:1400px){
  
    .container{
      width:1320px;
    }
  }
  